.App {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 2.2fr;
  grid-template-areas: 
                    "header header"
                    "input output";
}

.container {
  padding: 20px;
}

.output-box {
  grid-area: output;
  background-color: bisque;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 400px 600px;
}

.input-box {
  grid-area: input;
  background-color: lightgray;
}

.header {
  grid-area: header;
  background-color: darkgrey;
}

.preview-box {
  background-color: #888;;
}

.code-box .card-body {
  overflow-y: scroll;
  max-height: 450px;
}

.code-box {
  background-color: #fff;
  
  border: 1px #ddd solid;
}

label {
  font-size: 0.8rem;
}


.form-group {
  margin-bottom: 20px;
}

.responsive-btn {
  width: 100%;
}

label {
  margin-right: 10px;
  min-width: 200px;
}

.html-block {
  display: block;
  white-space: pre-line;
}